html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
        box-sizing: border-box;    
}

.whole-container {
    
    height: 100vh;
    
}

.content-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color:rgb(69 10 10); 
}

.Admin-header {
    width: 100%;
    height: 40px;
    background-color:rgb(69 10 10); 
    color: #ffffff; 
    text-align: center;
}

.Admin-header button{
    border: none;
    color: #fdfdfd; 
    background-color: transparent; 
    cursor: pointer;
    font-size: 16px;
    padding:0;
    text-align: right;
  
}


.Admin-navbar {
    background-color:rgb(69 10 10); 
    width: 280px;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-link {
    position: relative;
    display: flex;
    align-items: center;
}

.badge {
    position: absolute;
    right: 10px; 
    border-radius: 5px;
    background-color: gray 0.5;
    color: rgb(52, 239, 52);
    padding: 7px 7px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 20px;
    text-align: center;
}

.Admin-links {
    margin: 50px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

.Admin-links a {
    background-color: transparent; 
    margin: 0 5px;
    color: #fdfdfd; 
    cursor: pointer;
    font-size: 16px;
    padding: 12px 10px;
    max-width: 100%;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.Admin-links button {
    border: none;
    background-color: transparent; 
    color: #fdfdfd; 
    cursor: pointer;
    font-size: 16px;
    padding: 12px 10px;
    width: 100%;
    text-align: center;
    bottom: -30%;
}

.Admin-links a:hover, .Admin-links button:hover {
    background-color: white; 
    color: #000000;
}

.Admin-links a:focus {
    background-color: white; 
    color: #000000;
}

.Admin-navbar h1 {
    text-align: center;
    font-size: 32px;
    color: #ffffff; 
}
.Admin-navbar img {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 100%;
}

.route-container {
    text-align: center;
    background-color: rgb(255, 255, 255); 
    align-items: center;
    width: 100%;
    max-height:95vh;
    border-radius: 20px 0 0 20px;
}

.notification-link {
    position: relative;
    display: inline-block;
    text-align: left;
}


.line {
    height:1px;
    background-color: #323232;
    width: 100%;
}
