html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.whole-container {
    display: flex;
    flex-direction: row;
}

.Admin-header {
    width: 100%;
    height: 50px;
    background-color: #8B4513; 
    color: #F5F5DC; 
    box-shadow: 1px 1px 1px 1px #F5F5DC; 
    text-align: center;
    border-radius: 6px;
}

.Admin-navbar {
    background-color: #ffffff; 
    width: 300px;
    height: 725px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow:  0px 4px 8px #8B4513; 
    border-radius: 5px;
}

.Admin-links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.Admin-links a, .Admin-links button {
    background-color: #800020; 
    color: #F5F5DC; 
    border: 1px solid #800020; 
    box-shadow: 0px 4px 8px #8B4513; 
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 12px 66px;
    text-align: center;
    text-decoration: none;
    margin: 14px;
}

.Admin-links button {
    margin-top: 100px;
}

.Admin-links a:hover, .Admin-links button:hover  {
    background-color: rgb(102, 1, 26); 
    color:#F5F5DC;
}
.Admin-links a:focus {
    background-color: rgb(248, 246, 246); 
    color:#030303;
}

.Admin-navbar h1 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    color: #800020; 
}

.right-container {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.route-container {
    text-align: center;
    box-shadow: 0px 4px 8px #8B4513; 
    background-color: white; 
    align-items: center;
    margin: 20px;
    border-radius: 8px;
    height: 650px;
    max-height: 650px;
    overflow-y: auto;
}

.notification-link {
    position: relative;
    display: inline-block;
}

.notification-link .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: yellowgreen; 
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}
