
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.header {
  width: 100%;
  height: 30px;
  background-color: #800020;
  top: 0;    
}

.auth-container {
  display: flex;
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgb(69 10 10); 
}

.auth-left {
  width: 50%;
  padding: 40px;
  
}

.auth-left h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.auth-left form {
  display: flex;
  flex-direction: column;
}

.auth-left input {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 5px;
}

.auth-left .auth-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.auth-left .login-button {
  background-color: #800020;
  color: white;
  padding: 15px;
  font-size: 1rem;
  border: none;   
  border-radius: 5px;
  cursor: pointer;
}

.auth-left .login-button:hover {
  background-color: #5a001F; 
    color:#F5F5DC;
}

.signup-button {
  background-color: transparent;
  color: #650dd8;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.social-links {
  height: 70px;
  width: 400px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}


.social-links div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
}
.social-links div img {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.auth-right {
  width: 50%;
  box-shadow: 0px 2px 4px rgb(69 10 10); 
   
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;    
  background-color: white;
  font-family: 'Arial', sans-serif;
  
}

.signup-box {
  width: 400px;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-shadow: 0px 2px 4px  rgb(69 10 10); 
}

.signup-box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.signup-box form {
  display: flex;
  flex-direction: column;
}

.signup-box input,
.signup-box select {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  width: 95%;
}

.signup-box select {
  margin-left: auto;
  margin-right: auto;
}

.signup-box .signup-button {
  background-color: #800020;
  color: white;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-box .login-button {
  background-color: transparent;
  color: rgb(69 10 10);
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.auth-right h1 {
  text-align: center;
  color: black;
}

.logo {
  margin: 50px auto;
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.logo img {
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 100%;
}