::-webkit-scrollbar {
    width: 0px;
}

.dean-evaluation-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dean-evaluation-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 95%;
    width: 50%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.dean-evaluation-preview {
    width: 50%;
    padding: 20px;
    height: 95%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.dean-category-input,
.dean-evaluation-select,
.dean-question-input,
.dean-weight-input,
.dean-expiration-input {
    border: 0.5px solid rgb(0, 0, 0);
    padding: 0.7rem 0rem;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 0.4rem #dfd9d9;
    text-align: center;
}

.dean-category-input,
.dean-evaluation-select {
    width: 100%;
}

.dean-question-input {
    width: 100%;
    resize: none;
}

.dean-evaluation-page button {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.dean-save-button {
    background-color: #4CAF50;
    color: white;
}

.dean-delete-button {
    background-color: #f44336;
    color: white;
}

.dean-edit-button {
    background-color: #008CBA;
    color: white;
}

.dean-operation-buttons {
    display: flex;
    gap: 25px;
}

.dean-category-block {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.dean-category-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dean-question-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.dean-buttons-container {
    display: flex;
    gap: 10px;
}

.dean-evaluation-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.dean-evaluation-preview {
    overflow-y: auto;
}

.dean-category-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.dean-questions-container {
    padding-top: 20px;
}

.dean-question-form input[type="number"] {
    width: 50%;
}

.dean-cancel-button {
    background-color: #f0ad4e;
    color: white;
}
