

.evaluation-container {
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.evaluation-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;   
    
}

.deanevaluation-tool-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height:220px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.7), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    cursor: pointer; 
    text-decoration: none;
    border-radius: 20px;
    color: black;
    text-align: center;
    background-color: #86a3c3;
}
.facevaluation-tool-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height:220px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.7), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    cursor: pointer; 
    text-decoration: none;
    border-radius: 20px;
    color: black;
    text-align: center;
    background-color: #86a3c3;
}
.studentevaluation-tool-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height:220px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.7), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    cursor: pointer; 
    text-decoration: none;
    border-radius: 20px;
    color: black;
    text-align: center;
    background-color: #86a3c3;
}

.studentevaluation-tool-button:hover, 
.deanevaluation-tool-button:hover, 
.facevaluation-tool-button:hover {
    background-color: #6c7f92; 
    opacity: 0.9;
    transform: translateY(-10px) scale(1.050);  
    transition: 0.3s; 
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.5);
}
