
::-webkit-scrollbar {
    width: 0px;
}


.faculty-evaluation-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.faculty-evaluation-container h1 , h2, h3 {
    color: rgb(133, 5, 5);
}

.faculty-evaluation-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    border-radius: 10px;
}

.faculty-evaluation-preview {
    width: 50%;
    padding: 20px;
    height: 95%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}



.input-category,
.select-category {
    border: 0.5px solid rgb(0, 0, 0);
  padding: 0.7rem 0rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 0.4rem #dfd9d9;
  text-align: center;
  width: 100%;
    
}
.input-question {
    border: 0.5px solid rgb(0, 0, 0);
    padding: 0.7rem 0rem;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 0.4rem #dfd9d9;
    width: 100%;
    resize: none;
}

.faculty-evaluation-container button {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.save-form-btn, .category-section button, .faculty-evaluation-container button {
    background-color: #4CAF50;
    color: white;
}

.delete-category-btn {
    background-color: #f44336;
    color: white;
}

.operation-buttons button {
    background-color: #008CBA;
    color: white;
    margin: 0 5px;
}


.question-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.operation-buttons {
    display: flex;
    gap: 25px;
}
.category-section {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    gap: 10px;
}
.question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
