::-webkit-scrollbar {
    width: 0px;
}

.subject-evaluation-container {
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.subject-evaluation-container h1, h2, h3 {
    color: rgb(133, 5, 5);
}

.subject-evaluation-container h1, h2, h3, p {
    margin: 0;
}

.category-preview-section h3 {
    padding: 10px;
}

.subject-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.category-input-section,
.question-input-section,
.expiration-date-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-input-section input,
.question-input-section input,
.question-input-section textarea,
.question-input-section select,
.expiration-date-section input {
    text-align: center;
    border: 0.5px solid rgb(0, 0, 0);
    padding: 0.7rem 0;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 0.4rem #dfd9d9;
    width: 100%;
}

.question-input-section textarea {
    width: 100%;
    resize: none;
}

.subject-evaluation-container button {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subject-form button {
    background-color: #4CAF50;
    color: white;
}



.subject-evaluation-container .expiration-date-section button {
    background-color: #4CAF50;
    color: white;
}

.subject-preview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.category-preview {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.category-preview h3 {
    color: #333;
}

.category-preview .edit-category-button {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.edit-category-btn, .delete-category-btn {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.edit-btn {
    background-color: #008CBA;
}

.delete-btn {
    background-color: #f44336;
}

.subject-preview table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.subject-preview th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-content {
    display: flex;
    justify-content: space-between;
}

.subject-preview th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.subject-preview tr:hover {
    background-color: #f9f9f9;
}

.subject-preview button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 3px;
}



input::placeholder,
textarea::placeholder {
    color: #888;
}

.edit-category-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.edit-category-button button {
    padding: 5px 5px;
    gap: 5px;
}

.questions-preview, .options-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.questions-preview button:hover {
    background-color: #4CAF50;  
}

.question-action{
    display: flex;
    flex-direction: row;
 }