.user-card {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  column-gap: 50px; 
  margin: 0 auto; 
  max-width: 650px; 
}

.user-item {
  border: 1px solid #8B4513;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #F5F5DC;
  text-align: center;
  margin: 20px 0; 
  box-sizing: border-box;
  width: 100%;
}

.user-item:hover {
  box-shadow: 0 2px 4px #8B4513(228, 6, 6, 0.853);
  transition: box-shadow 0.2s ease;
  ;
}
.user-info {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #800020;
}

.user-info p {
  color: yellowgreen;
}

.user-subjects {
  font-size: 1em;
  color: #666;
}

.user-button {
  margin: 20px auto;
}

.user-button button {
  background: transparent;
  border: 1px solid #800020;
  border-radius: 6px;
  box-shadow: 1px 1px 1px black;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  margin: 9px;
}

.user-button button:hover, .user-button button:focus {
  background-color: #8B4513;
  color: #F5F5DC;
}
