.user-page-container {
  display:flex;
  flex-direction: row;
}
.user-page-left {
  width: 50%;
  height: 100vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.user-page-right {
  width: 50%;
  height: 100vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.user-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: 10px 10px;
  
}

.user-item {
  padding: 16px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 6px;
}

.user-info {
  margin-bottom: 8px;
}

.user-view {
  padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.user-subjects {
  font-size: 1em;
  color: #666;
}

.user-button {
  margin: 20px auto;
}

.user-button button {
  margin: 40px auto;
  background: transparent;
  border-radius: 6px;
  box-shadow: 1px 1px 1px black;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 9px 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px;
}

.user-button button:hover, .user-button button:focus {
  background-color:#800020;
  color: #F5F5DC;
}
.user-list {
  margin: 30px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  height: 90vh;
  max-height: 90vh;
  border-radius: 10px;
}

.subjects-content {
  transition: height 2s;
}

.subject-content:hover {
  height: 100%;
}

.user-search {
  border: 0.5px solid rgb(0, 0, 0);
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 0.4rem #dfd9d9;
}

.subject-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 16px; 
  padding: 20px;
  max-height: 300px; 
  overflow-y: auto; 
  overflow-x: hidden; 
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 10px;
}

.subjects-content.grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 16px;
}

.user-detail {
  margin: 30px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.user-detail h1 {
  margin: 10px;
}

.user-subject-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-subject-button button {
  margin: 10px;
}