.user-page-container {
  display:flex;
  flex-direction: row;
}
.user-page-left {
  width: 50%;
  height: 100vh;
}
.user-page-right {
  width: 50%;
  height: 100vh;
}
.user-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.user-item {
  padding: 16px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 6px;
}

.user-info {
  margin-bottom: 8px;
}

.user-view {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.user-view:hover {
  background-color: #0056b3;
}

.user-subjects {
  font-size: 1em;
  color: #666;
}

.user-button {
  margin: 20px auto;
}

.user-button button {
  background: transparent;
  border-radius: 6px;
  box-shadow: 1px 1px 1px black;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 9px 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px;
}

.user-button button:hover, .user-button button:focus {
  background-color:#800020;
  color: #F5F5DC;
}
.user-list {
  margin: auto 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  height: 90vh;
  max-height: 90vh;
  border-radius: 7px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #8B4513;
  width: 400px;
  text-align: left;
}



.user-view {
  background-color: #800020; 
  color: #F5F5DC; 
  border: 1px solid #800020; 
  box-shadow: 0px 4px 8px #8B4513; 
  border-radius: 6px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  margin: 9px;
  transition: height 2s;
} 

.user-close {
  background-color: #800020; 
  color: #F5F5DC; 
  border: 1px solid #800020; 
  box-shadow: 0px 4px 8px #8B4513; 
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 28px; 
  text-align: center;
  position: absolute;
  top: 10px; 
  right: 10px; 
  
}


.user-view:hover,.user-close:hover {
  background-color:#570116;
  box-shadow: 0px 4px 8px #8B4513; 
  color: white;

}

.subjects-content {
  transition: height 2s;
}

.subject-content:hover {
  height: 100%;
}

.user-search {
  border: 0.5px solid rgb(0, 0, 0);
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 0.4rem #dfd9d9;
}

