.faculty-card {
    width: 50%;
    box-shadow: 0 4px 6px -1px #8B4513, 0 2px 4px -2px #8B4513;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    transition: transform 0.2s;
  }
  
  .faculty-card:hover {
    transform: scale(1.02);
  }
  
  .faculty-name {
    color: #800020; 
    font-size: 20px;
    margin: 0 0 10px;
  }
  
  .faculty-email,
  .faculty-department,
  .faculty-evaluation {
    color: #333; 
    margin: 5px 0;
  }
  
  .view-button {
    background-color: #800020; 
    color: #FFFFFF; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-button:hover {
    background-color: #530115; 
    color: #FFFFFF; 
  }

 
  .faculty-header input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13em;
    margin: 10px;
    border-radius: 1rem;
    color: lightcoral;
    outline-color: rgb(0, 0, 0);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
  }

  .faculty-header select {

  }
  
  .faculty-header input::placeholder,
  .faculty-header select {

  }
  

 
  .faculty-header select:hover {
      border-color: #ffffff; 
      outline-color: lightcoral;
  }
  
 
  .faculty-header select:focus {
      outline: none;
      border-color: #4caf50; 
      box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }