.faculty-card {
    width: 50%;
    background-color: #F5F5DC; 
    border: 1px solid #8B4513; 
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .faculty-card:hover {
    transform: scale(1.02);
  }
  
  .faculty-name {
    color: #800020; 
    font-size: 20px;
    margin: 0 0 10px;
  }
  
  .faculty-email,
  .faculty-department,
  .faculty-evaluation {
    color: #333; 
    margin: 5px 0;
  }
  
  .view-button {
    background-color: #800020; 
    color: #FFFFFF; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-button:hover {
    background-color: #FFFFFF;
    color: #5c0016; 
  }

 
  faculty-header input,
  .faculty-header select {
      margin: 0px 6px;
      padding: 10px;
      border: 1px solid #8B4513; 
      border-radius: 5px;
      background-color: #F5F5DC; 
      color: #800020; 
      font-size: 16px;
  }
  
  .faculty-header input::placeholder,
  .faculty-header select {
      color: #333; 
  }
  

  .faculty-header input:hover,
  .faculty-header select:hover {
      border-color: #800020; 
      background-color: #FFFFFF; 
  }
  
 
  .faculty-header select:focus {
      outline: none;
      border-color: #4caf50; 
      box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }